

.homeContainer {
  height:100vh;
  width:100%;
  background-size: 110% auto;
  background-position: center calc(100% + 100px);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  fill:rgb(54, 54, 132);
  font-size: 40px;
}

.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.bottom {
  margin: 20px;
}

