@font-face {
    font-family: mont;
    src: url(assets/Mont-ExtraLightDEMO.otf);
}

@font-face {
    font-family: montHeavy;
    src: url(assets/Mont-HeavyDEMO.otf);
}

* {
    padding: 0;
    margin: 0;
}

#root {
    margin: 0;
    padding: 0;
}